<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wu.fund.dao.CoreCrePreapprovalContactMapper" >
  <resultMap id="BaseResultMap" type="com.wu.fund.entity.CoreCrePreapprovalContactEntity" >
    <id column="SERIALNO" property="serialNo" jdbcType="VARCHAR" />
    <result column="A_APPLY_NO" property="aApplyNo" jdbcType="VARCHAR" />
    <result column="CONTACTS_RELATION" property="contactsRelation" jdbcType="VARCHAR" />
    <result column="CONTACTS_NAME" property="contactsName" jdbcType="VARCHAR" />
    <result column="CONTACTS_MOBILE" property="contactsMobile" jdbcType="VARCHAR" />
    <result column="FUNDUNITNO" property="fundUnitNo" jdbcType="VARCHAR" />
    <result column="LOANORGCODE" property="loanOrgCode" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="BEGINTIME" property="beginTime" jdbcType="VARCHAR" />
    <result column="ENDTIME" property="endTime" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from CORE_CRE_PREAPPROVAL_CONTACT
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wu.fund.entity.CoreCrePreapprovalContactEntity" >
    insert into CORE_CRE_PREAPPROVAL_CONTACT (SERIALNO, A_APPLY_NO, CONTACTS_RELATION, 
      CONTACTS_NAME, CONTACTS_MOBILE, FUNDUNITNO, 
      LOANORGCODE, STATUS, BEGINTIME, 
      ENDTIME)
    values (#{serialNo,jdbcType=VARCHAR}, #{aApplyNo,jdbcType=VARCHAR}, #{contactsRelation,jdbcType=VARCHAR}, 
      #{contactsName,jdbcType=VARCHAR}, #{contactsMobile,jdbcType=VARCHAR}, #{fundUnitNo,jdbcType=VARCHAR}, 
      #{loanOrgCode,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{beginTime,jdbcType=VARCHAR}, 
      #{endTime,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wu.fund.entity.CoreCrePreapprovalContactEntity" >
    update CORE_CRE_PREAPPROVAL_CONTACT
    set A_APPLY_NO = #{aApplyNo,jdbcType=VARCHAR},
      CONTACTS_RELATION = #{contactsRelation,jdbcType=VARCHAR},
      CONTACTS_NAME = #{contactsName,jdbcType=VARCHAR},
      CONTACTS_MOBILE = #{contactsMobile,jdbcType=VARCHAR},
      FUNDUNITNO = #{fundUnitNo,jdbcType=VARCHAR},
      LOANORGCODE = #{loanOrgCode,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      BEGINTIME = #{beginTime,jdbcType=VARCHAR},
      ENDTIME = #{endTime,jdbcType=VARCHAR}
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select SERIALNO, A_APPLY_NO, CONTACTS_RELATION, CONTACTS_NAME, CONTACTS_MOBILE, FUNDUNITNO, 
    LOANORGCODE, STATUS, BEGINTIME, ENDTIME
    from CORE_CRE_PREAPPROVAL_CONTACT
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select SERIALNO, A_APPLY_NO, CONTACTS_RELATION, CONTACTS_NAME, CONTACTS_MOBILE, FUNDUNITNO, 
    LOANORGCODE, STATUS, BEGINTIME, ENDTIME
    from CORE_CRE_PREAPPROVAL_CONTACT
  </select>
</mapper>