<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wu.fund.dao.FunctionDarkPeriodDao" >
  <resultMap id="BaseResultMap" type="com.wu.fund.entity.FunctionDarkPeriodEntity" >
    <result column="SERIALNO" property="serialNo" jdbcType="VARCHAR" />
    <result column="RELATIVESERIALNO" property="relativeSerialNo" jdbcType="VARCHAR" />
    <result column="BEGINTIME" property="beginTime" jdbcType="VARCHAR" />
    <result column="ENDTIME" property="endTime" jdbcType="VARCHAR" />
    <result column="VALIDTIME" property="validTime" jdbcType="VARCHAR" />
    <result column="INVALIDTIME" property="invalidTime" jdbcType="VARCHAR" />
    <result column="BANKNO" property="bankNo" jdbcType="VARCHAR" />
    <result column="INPUTDATE" property="inputDate" jdbcType="VARCHAR" />
    <result column="UPDATEUSERID" property="updateUserId" jdbcType="VARCHAR" />
    <result column="UPDATEDATE" property="updateDate" jdbcType="VARCHAR" />
    <result column="INPUTUSERID" property="inputUserId" jdbcType="VARCHAR" />
    <result column="INPUTORGID" property="inputOrgId" jdbcType="VARCHAR" />
    <result column="UPDATEORGID" property="updateOrgId" jdbcType="VARCHAR" />
    <result column="RELATIVETYPE" property="relativeType" jdbcType="VARCHAR" />
    <result column="BANKNAME" property="bankName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SERIALNO, RELATIVESERIALNO, BEGINTIME, ENDTIME, VALIDTIME, INVALIDTIME, BANKNO, INPUTDATE,
    UPDATEUSERID, UPDATEDATE, INPUTUSERID, INPUTORGID, UPDATEORGID, RELATIVETYPE, BANKNAME
  </sql>
  <insert id="insert" parameterType="com.wu.fund.entity.FunctionDarkPeriodEntity" >
    insert into FUNCTION_DARK_PERIOD (SERIALNO, RELATIVESERIALNO, BEGINTIME, 
      ENDTIME, VALIDTIME, INVALIDTIME, 
      BANKNO, INPUTDATE, UPDATEUSERID, 
      UPDATEDATE, INPUTUSERID, INPUTORGID, 
      UPDATEORGID, RELATIVETYPE, BANKNAME
      )
    values (#{serialNo,jdbcType=VARCHAR}, #{relativeSerialNo,jdbcType=VARCHAR}, #{beginTime,jdbcType=VARCHAR}, 
      #{endTime,jdbcType=VARCHAR}, #{validTime,jdbcType=VARCHAR}, #{invalidTime,jdbcType=VARCHAR}, 
      #{bankNo,jdbcType=VARCHAR}, #{inputDate,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=VARCHAR}, #{inputUserId,jdbcType=VARCHAR}, #{inputOrgId,jdbcType=VARCHAR}, 
      #{updateOrgId,jdbcType=VARCHAR}, #{relativeType,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.wu.fund.entity.FunctionDarkPeriodEntity" >
    insert into FUNCTION_DARK_PERIOD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialNo != null" >
        SERIALNO,
      </if>
      <if test="relativeSerialNo != null" >
        RELATIVESERIALNO,
      </if>
      <if test="beginTime != null" >
        BEGINTIME,
      </if>
      <if test="endTime != null" >
        ENDTIME,
      </if>
      <if test="validTime != null" >
        VALIDTIME,
      </if>
      <if test="invalidTime != null" >
        INVALIDTIME,
      </if>
      <if test="bankNo != null" >
        BANKNO,
      </if>
      <if test="inputDate != null" >
        INPUTDATE,
      </if>
      <if test="updateUserId != null" >
        UPDATEUSERID,
      </if>
      <if test="updateDate != null" >
        UPDATEDATE,
      </if>
      <if test="inputUserId != null" >
        INPUTUSERID,
      </if>
      <if test="inputOrgId != null" >
        INPUTORGID,
      </if>
      <if test="updateOrgId != null" >
        UPDATEORGID,
      </if>
      <if test="relativeType != null" >
        RELATIVETYPE,
      </if>
      <if test="bankName != null" >
        BANKNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialNo != null" >
        #{serialNo,jdbcType=VARCHAR},
      </if>
      <if test="relativeSerialNo != null" >
        #{relativeSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="validTime != null" >
        #{validTime,jdbcType=VARCHAR},
      </if>
      <if test="invalidTime != null" >
        #{invalidTime,jdbcType=VARCHAR},
      </if>
      <if test="bankNo != null" >
        #{bankNo,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null" >
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="inputUserId != null" >
        #{inputUserId,jdbcType=VARCHAR},
      </if>
      <if test="inputOrgId != null" >
        #{inputOrgId,jdbcType=VARCHAR},
      </if>
      <if test="updateOrgId != null" >
        #{updateOrgId,jdbcType=VARCHAR},
      </if>
      <if test="relativeType != null" >
        #{relativeType,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select SERIALNO, RELATIVESERIALNO, BEGINTIME, ENDTIME, VALIDTIME, INVALIDTIME, BANKNO, 
    INPUTDATE, UPDATEUSERID, UPDATEDATE, INPUTUSERID, INPUTORGID, UPDATEORGID, RELATIVETYPE, 
    BANKNAME
    from FUNCTION_DARK_PERIOD
  </select>
</mapper>