<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wu.fund.dao.FundUnitCustomerConstraintDao" >
  <resultMap id="BaseResultMap" type="com.wu.fund.entity.FundUnitCustomerConstraintEntity" >
    <id column="SERIALNO" property="serialNo" jdbcType="VARCHAR" />
    <result column="CUSTOMERID" property="customerId" jdbcType="VARCHAR" />
    <result column="REMAINSUM" property="remainSum" jdbcType="VARCHAR" />
    <result column="FUNDUNITNO" property="fundUnitNo" jdbcType="VARCHAR" />
    <result column="INPUTDATE" property="inputDate" jdbcType="VARCHAR" />
    <result column="UPDATEUSERID" property="updateUserId" jdbcType="VARCHAR" />
    <result column="UPDATEDATE" property="updateDate" jdbcType="VARCHAR" />
    <result column="INPUTUSERID" property="inputUserId" jdbcType="VARCHAR" />
    <result column="INPUTORGID" property="inputOrgId" jdbcType="VARCHAR" />
    <result column="UPDATEORGID" property="updateOrgId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from FUND_UNIT_CUSTOMER_CONSTRAINT
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wu.fund.entity.FundUnitCustomerConstraintEntity" >
    insert into FUND_UNIT_CUSTOMER_CONSTRAINT (SERIALNO, CUSTOMERID, REMAINSUM, 
      FUNDUNITNO, INPUTDATE, UPDATEUSERID, 
      UPDATEDATE, INPUTUSERID, INPUTORGID, 
      UPDATEORGID)
    values (#{serialNo,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, #{remainSum,jdbcType=VARCHAR}, 
      #{fundUnitNo,jdbcType=VARCHAR}, #{inputDate,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=VARCHAR}, #{inputUserId,jdbcType=VARCHAR}, #{inputOrgId,jdbcType=VARCHAR}, 
      #{updateOrgId,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wu.fund.entity.FundUnitCustomerConstraintEntity" >
    update FUND_UNIT_CUSTOMER_CONSTRAINT
    set CUSTOMERID = #{customerId,jdbcType=VARCHAR},
      REMAINSUM = #{remainSum,jdbcType=VARCHAR},
      FUNDUNITNO = #{fundUnitNo,jdbcType=VARCHAR},
      INPUTDATE = #{inputDate,jdbcType=VARCHAR},
      UPDATEUSERID = #{updateUserId,jdbcType=VARCHAR},
      UPDATEDATE = #{updateDate,jdbcType=VARCHAR},
      INPUTUSERID = #{inputUserId,jdbcType=VARCHAR},
      INPUTORGID = #{inputOrgId,jdbcType=VARCHAR},
      UPDATEORGID = #{updateOrgId,jdbcType=VARCHAR}
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select SERIALNO, CUSTOMERID, REMAINSUM, FUNDUNITNO, INPUTDATE, UPDATEUSERID, UPDATEDATE, 
    INPUTUSERID, INPUTORGID, UPDATEORGID
    from FUND_UNIT_CUSTOMER_CONSTRAINT
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select SERIALNO, CUSTOMERID, REMAINSUM, FUNDUNITNO, INPUTDATE, UPDATEUSERID, UPDATEDATE, 
    INPUTUSERID, INPUTORGID, UPDATEORGID
    from FUND_UNIT_CUSTOMER_CONSTRAINT
  </select>
</mapper>