<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wu.fund.dao.FundUnitPutoutConstraintMapper" >
  <resultMap id="BaseResultMap" type="com.wu.fund.entity.FundUnitPutoutConstraintEntity" >
    <id column="SERIALNO" property="serialNo" jdbcType="VARCHAR" />
    <result column="RELATIVESERIALNO" property="relativeSerialNo" jdbcType="VARCHAR" />
    <result column="INPUTDATE" property="inputDate" jdbcType="VARCHAR" />
    <result column="UPDATEUSERID" property="updateUserId" jdbcType="VARCHAR" />
    <result column="UPDATEDATE" property="updateDate" jdbcType="VARCHAR" />
    <result column="INPUTUSERID" property="inputUserId" jdbcType="VARCHAR" />
    <result column="INPUTORGID" property="inputOrgId" jdbcType="VARCHAR" />
    <result column="UPDATEORGID" property="updateOrgId" jdbcType="VARCHAR" />
    <result column="INCOMECALCUMETHOD" property="incomeCalcuMethod" jdbcType="VARCHAR" />
    <result column="ONETIMELOANREBATES" property="oneTimeLoanRebates" jdbcType="VARCHAR" />
    <result column="REIMBURSEMENTRATE" property="reimbursementRate" jdbcType="VARCHAR" />
    <result column="ONETIMELOANSUM" property="oneTimeLoanSum" jdbcType="VARCHAR" />
    <result column="ANNUALINTERESTRATE" property="annualInterestRate" jdbcType="VARCHAR" />
    <result column="LENDINGPRIORITY" property="lendingPriority" jdbcType="VARCHAR" />
    <result column="LENDINGWEIGHT" property="lendingWeight" jdbcType="VARCHAR" />
    <result column="ALLOWABLEOVERLIMIT" property="allowableOverLimit" jdbcType="VARCHAR" />
    <result column="TOTALSUM" property="totalSum" jdbcType="VARCHAR" />
    <result column="SINGLECUSTLIMIT" property="singleCustLimit" jdbcType="VARCHAR" />
    <result column="SINGLEMINAMOUNT" property="singleMinAmount" jdbcType="VARCHAR" />
    <result column="SINGLEMAXAMOUNT" property="singleMaxAmount" jdbcType="VARCHAR" />
    <result column="DAILYLIMIT" property="dailyLimit" jdbcType="VARCHAR" />
    <result column="MONTHLYLIMIT" property="monthlyLimit" jdbcType="VARCHAR" />
    <result column="REMAINMONTHLIMIT" property="remainMonthLimit" jdbcType="VARCHAR" />
    <result column="REMAINDAYLIMIT" property="remainDayLimit" jdbcType="VARCHAR" />
    <result column="REMAINTOTALSUM" property="remainTotalSum" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from FUND_UNIT_PUTOUT_CONSTRAINT
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wu.fund.entity.FundUnitPutoutConstraintEntity" >
    insert into FUND_UNIT_PUTOUT_CONSTRAINT (SERIALNO, RELATIVESERIALNO, INPUTDATE, 
      UPDATEUSERID, UPDATEDATE, INPUTUSERID, 
      INPUTORGID, UPDATEORGID, INCOMECALCUMETHOD, 
      ONETIMELOANREBATES, REIMBURSEMENTRATE, 
      ONETIMELOANSUM, ANNUALINTERESTRATE, LENDINGPRIORITY, 
      LENDINGWEIGHT, ALLOWABLEOVERLIMIT, TOTALSUM, 
      SINGLECUSTLIMIT, SINGLEMINAMOUNT, SINGLEMAXAMOUNT, 
      DAILYLIMIT, MONTHLYLIMIT, REMAINMONTHLIMIT, 
      REMAINDAYLIMIT, REMAINTOTALSUM)
    values (#{serialNo,jdbcType=VARCHAR}, #{relativeSerialNo,jdbcType=VARCHAR}, #{inputDate,jdbcType=VARCHAR},
      #{updateUserId,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR}, #{inputUserId,jdbcType=VARCHAR},
      #{inputOrgId,jdbcType=VARCHAR}, #{updateOrgId,jdbcType=VARCHAR}, #{incomeCalcuMethod,jdbcType=VARCHAR},
      #{oneTimeLoanRebates,jdbcType=VARCHAR}, #{reimbursementRate,jdbcType=VARCHAR},
      #{oneTimeLoanSum,jdbcType=VARCHAR}, #{annualInterestRate,jdbcType=VARCHAR}, #{lendingPriority,jdbcType=VARCHAR},
      #{lendingWeight,jdbcType=VARCHAR}, #{allowableOverLimit,jdbcType=VARCHAR}, #{totalSum,jdbcType=VARCHAR},
      #{singleCustLimit,jdbcType=VARCHAR}, #{singleMinAmount,jdbcType=VARCHAR}, #{singleMaxAmount,jdbcType=VARCHAR},
      #{dailyLimit,jdbcType=VARCHAR}, #{monthlyLimit,jdbcType=VARCHAR}, #{remainMonthLimit,jdbcType=VARCHAR},
      #{remainDayLimit,jdbcType=VARCHAR}, #{remainTotalSum,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wu.fund.entity.FundUnitPutoutConstraintEntity" >
    update FUND_UNIT_PUTOUT_CONSTRAINT
    set RELATIVESERIALNO = #{relativeSerialNo,jdbcType=VARCHAR},
      INPUTDATE = #{inputDate,jdbcType=VARCHAR},
      UPDATEUSERID = #{updateUserId,jdbcType=VARCHAR},
      UPDATEDATE = #{updateDate,jdbcType=VARCHAR},
      INPUTUSERID = #{inputUserId,jdbcType=VARCHAR},
      INPUTORGID = #{inputOrgId,jdbcType=VARCHAR},
      UPDATEORGID = #{updateOrgId,jdbcType=VARCHAR},
      INCOMECALCUMETHOD = #{incomeCalcuMethod,jdbcType=VARCHAR},
      ONETIMELOANREBATES = #{oneTimeLoanRebates,jdbcType=VARCHAR},
      REIMBURSEMENTRATE = #{reimbursementRate,jdbcType=VARCHAR},
      ONETIMELOANSUM = #{oneTimeLoanSum,jdbcType=VARCHAR},
      ANNUALINTERESTRATE = #{annualInterestRate,jdbcType=VARCHAR},
      LENDINGPRIORITY = #{lendingPriority,jdbcType=VARCHAR},
      LENDINGWEIGHT = #{lendingWeight,jdbcType=VARCHAR},
      ALLOWABLEOVERLIMIT = #{allowableOverLimit,jdbcType=VARCHAR},
      TOTALSUM = #{totalSum,jdbcType=VARCHAR},
      SINGLECUSTLIMIT = #{singleCustLimit,jdbcType=VARCHAR},
      SINGLEMINAMOUNT = #{singleMinAmount,jdbcType=VARCHAR},
      SINGLEMAXAMOUNT = #{singleMaxAmount,jdbcType=VARCHAR},
      DAILYLIMIT = #{dailyLimit,jdbcType=VARCHAR},
      MONTHLYLIMIT = #{monthlyLimit,jdbcType=VARCHAR},
      REMAINMONTHLIMIT = #{remainMonthLimit,jdbcType=VARCHAR},
      REMAINDAYLIMIT = #{remainDayLimit,jdbcType=VARCHAR},
      REMAINTOTALSUM = #{remainTotalSum,jdbcType=VARCHAR}
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select SERIALNO, RELATIVESERIALNO, INPUTDATE, UPDATEUSERID, UPDATEDATE, INPUTUSERID, 
    INPUTORGID, UPDATEORGID, INCOMECALCUMETHOD, ONETIMELOANREBATES, REIMBURSEMENTRATE, 
    ONETIMELOANSUM, ANNUALINTERESTRATE, LENDINGPRIORITY, LENDINGWEIGHT, ALLOWABLEOVERLIMIT, 
    TOTALSUM, SINGLECUSTLIMIT, SINGLEMINAMOUNT, SINGLEMAXAMOUNT, DAILYLIMIT, MONTHLYLIMIT, 
    REMAINMONTHLIMIT, REMAINDAYLIMIT, REMAINTOTALSUM
    from FUND_UNIT_PUTOUT_CONSTRAINT
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select SERIALNO, RELATIVESERIALNO, INPUTDATE, UPDATEUSERID, UPDATEDATE, INPUTUSERID, 
    INPUTORGID, UPDATEORGID, INCOMECALCUMETHOD, ONETIMELOANREBATES, REIMBURSEMENTRATE, 
    ONETIMELOANSUM, ANNUALINTERESTRATE, LENDINGPRIORITY, LENDINGWEIGHT, ALLOWABLEOVERLIMIT, 
    TOTALSUM, SINGLECUSTLIMIT, SINGLEMINAMOUNT, SINGLEMAXAMOUNT, DAILYLIMIT, MONTHLYLIMIT, 
    REMAINMONTHLIMIT, REMAINDAYLIMIT, REMAINTOTALSUM
    from FUND_UNIT_PUTOUT_CONSTRAINT
  </select>
</mapper>