<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wu.fund.dao.FundUnitCustomerConstraintDao" >
  <resultMap id="BaseResultMap" type="com.wu.fund.entity.FundUnitCustomerConstraintEntity" >
    <id column="SERIALNO" property="serialNo" jdbcType="VARCHAR" />
    <result column="CUSTOMERID" property="customerId" jdbcType="VARCHAR" />
    <result column="REMAINSUM" property="remainSum" jdbcType="VARCHAR" />
    <result column="FUNDUNITNO" property="fundUnitNo" jdbcType="VARCHAR" />
    <result column="INPUTDATE" property="inputDate" jdbcType="VARCHAR" />
    <result column="UPDATEUSERID" property="updateUserId" jdbcType="VARCHAR" />
    <result column="UPDATEDATE" property="updateDate" jdbcType="VARCHAR" />
    <result column="INPUTUSERID" property="inputUserId" jdbcType="VARCHAR" />
    <result column="INPUTORGID" property="inputOrgId" jdbcType="VARCHAR" />
    <result column="UPDATEORGID" property="updateOrgId" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    SERIALNO, CUSTOMERID, REMAINSUM, FUNDUNITNO, INPUTDATE, UPDATEUSERID, UPDATEDATE,
    INPUTUSERID, INPUTORGID, UPDATEORGID
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from FUND_UNIT_CUSTOMER_CONSTRAINT
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wu.fund.entity.FundUnitCustomerConstraintEntity" >
    insert into FUND_UNIT_CUSTOMER_CONSTRAINT (SERIALNO, CUSTOMERID, REMAINSUM, 
      FUNDUNITNO, INPUTDATE, UPDATEUSERID, 
      UPDATEDATE, INPUTUSERID, INPUTORGID, 
      UPDATEORGID)
    values (#{serialNo,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, #{remainSum,jdbcType=VARCHAR}, 
      #{fundUnitNo,jdbcType=VARCHAR}, #{inputDate,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=VARCHAR}, #{inputUserId,jdbcType=VARCHAR}, #{inputOrgId,jdbcType=VARCHAR}, 
      #{updateOrgId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wu.fund.entity.FundUnitCustomerConstraintEntity" >
    insert into FUND_UNIT_CUSTOMER_CONSTRAINT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialno != null" >
        SERIALNO,
      </if>
      <if test="customerId != null" >
        CUSTOMERID,
      </if>
      <if test="remainSum != null" >
        REMAINSUM,
      </if>
      <if test="fundUnitNo != null" >
        FUNDUNITNO,
      </if>
      <if test="inputDate != null" >
        INPUTDATE,
      </if>
      <if test="updateUserId != null" >
        UPDATEUSERID,
      </if>
      <if test="updateDate != null" >
        UPDATEDATE,
      </if>
      <if test="inputUserId != null" >
        INPUTUSERID,
      </if>
      <if test="inputOrgId != null" >
        INPUTORGID,
      </if>
      <if test="updateOrgId != null" >
        UPDATEORGID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialno != null" >
        #{serialno,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="remainSum != null" >
        #{remainSum,jdbcType=VARCHAR},
      </if>
      <if test="fundUnitNo != null" >
        #{fundUnitNo,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null" >
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="inputUserId != null" >
        #{inputUserId,jdbcType=VARCHAR},
      </if>
      <if test="inputOrgId != null" >
        #{inputOrgId,jdbcType=VARCHAR},
      </if>
      <if test="updateOrgId != null" >
        #{updateOrgId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wu.fund.entity.FundUnitCustomerConstraintEntity" >
    update FUND_UNIT_CUSTOMER_CONSTRAINT
    set CUSTOMERID = #{customerId,jdbcType=VARCHAR},
      REMAINSUM = #{remainSum,jdbcType=VARCHAR},
      FUNDUNITNO = #{fundUnitNo,jdbcType=VARCHAR},
      INPUTDATE = #{inputDate,jdbcType=VARCHAR},
      UPDATEUSERID = #{updateUserId,jdbcType=VARCHAR},
      UPDATEDATE = #{updateDate,jdbcType=VARCHAR},
      INPUTUSERID = #{inputUserId,jdbcType=VARCHAR},
      INPUTORGID = #{inputOrgId,jdbcType=VARCHAR},
      UPDATEORGID = #{updateOrgId,jdbcType=VARCHAR}
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.wu.fund.entity.FundUnitCustomerConstraintEntity" >
    update FUND_UNIT_CUSTOMER_CONSTRAINT
    <set >
      <if test="customerId != null" >
        CUSTOMERID = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="remainSum != null" >
        REMAINSUM = #{remainSum,jdbcType=VARCHAR},
      </if>
      <if test="fundUnitNo != null" >
        FUNDUNITNO = #{fundUnitNo,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null" >
        INPUTDATE = #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        UPDATEUSERID = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATEDATE = #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="inputUserId != null" >
        INPUTUSERID = #{inputUserId,jdbcType=VARCHAR},
      </if>
      <if test="inputOrgId != null" >
        INPUTORGID = #{inputOrgId,jdbcType=VARCHAR},
      </if>
      <if test="updateOrgId != null" >
        UPDATEORGID = #{updateOrgId,jdbcType=VARCHAR},
      </if>
    </set>
    where SERIALNO = #{serialno,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select SERIALNO, CUSTOMERID, REMAINSUM, FUNDUNITNO, INPUTDATE, UPDATEUSERID, UPDATEDATE, 
    INPUTUSERID, INPUTORGID, UPDATEORGID
    from FUND_UNIT_CUSTOMER_CONSTRAINT
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select SERIALNO, CUSTOMERID, REMAINSUM, FUNDUNITNO, INPUTDATE, UPDATEUSERID, UPDATEDATE, 
    INPUTUSERID, INPUTORGID, UPDATEORGID
    from FUND_UNIT_CUSTOMER_CONSTRAINT
  </select>
</mapper>