<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wu.fund.dao.FundUnitFallbackOrgDao" >
  <resultMap id="BaseResultMap" type="com.wu.fund.entity.FundUnitFallbackOrgEntity" >
    <result column="SERIALNO" property="serialNo" jdbcType="VARCHAR" />
    <result column="RELATIVESERIALNO" property="relativeSerialNo" jdbcType="VARCHAR" />
    <result column="ORGTYPE" property="orgType" jdbcType="VARCHAR" />
    <result column="ORGNAME" property="orgName" jdbcType="VARCHAR" />
    <result column="ORGCODE" property="orgCode" jdbcType="VARCHAR" />
    <result column="INPUTDATE" property="inputDate" jdbcType="VARCHAR" />
    <result column="UPDATEUSERID" property="updateUserId" jdbcType="VARCHAR" />
    <result column="UPDATEDATE" property="updateDate" jdbcType="VARCHAR" />
    <result column="INPUTUSERID" property="inputUserId" jdbcType="VARCHAR" />
    <result column="INPUTORGID" property="inputOrgId" jdbcType="VARCHAR" />
    <result column="UPDATEORGID" property="updateOrgId" jdbcType="VARCHAR" />
    <result column="FALLBACKTYPE" property="fallbackType" jdbcType="VARCHAR" />
    <result column="COMPENSATORYDAY" property="compensatoryDay" jdbcType="VARCHAR" />
    <result column="BUYBACKDAY" property="buybackDay" jdbcType="VARCHAR" />
    <result column="RATETYPE" property="rateType" jdbcType="VARCHAR" />
    <result column="RATE" property="rate" jdbcType="VARCHAR" />
    <result column="MARGINLEVEL" property="marginLevel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SERIALNO, RELATIVESERIALNO, ORGTYPE, ORGNAME, ORGCODE, INPUTDATE, UPDATEUSERID, UPDATEDATE,
    INPUTUSERID, INPUTORGID, UPDATEORGID, FALLBACKTYPE, COMPENSATORYDAY, BUYBACKDAY,
    RATETYPE, RATE, MARGINLEVEL
  </sql>
  <insert id="insert" parameterType="com.wu.fund.entity.FundUnitFallbackOrgEntity" >
    insert into FUND_UNIT_FALLBACK_ORG (SERIALNO, RELATIVESERIALNO, ORGTYPE,
      ORGNAME, ORGCODE, INPUTDATE, 
      UPDATEUSERID, UPDATEDATE, INPUTUSERID, 
      INPUTORGID, UPDATEORGID, FALLBACKTYPE, 
      COMPENSATORYDAY, BUYBACKDAY, RATETYPE, 
      RATE, MARGINLEVEL)
    values (#{serialNo,jdbcType=VARCHAR}, #{relativeSerialNo,jdbcType=VARCHAR}, #{orgType,jdbcType=VARCHAR}, 
      #{orgName,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, #{inputDate,jdbcType=VARCHAR}, 
      #{updateUserId,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR}, #{inputUserId,jdbcType=VARCHAR}, 
      #{inputOrgId,jdbcType=VARCHAR}, #{updateOrgId,jdbcType=VARCHAR}, #{fallbackType,jdbcType=VARCHAR}, 
      #{compensatoryDay,jdbcType=VARCHAR}, #{buybackDay,jdbcType=VARCHAR}, #{rateType,jdbcType=VARCHAR}, 
      #{rate,jdbcType=VARCHAR}, #{marginLevel,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.wu.fund.entity.FundUnitFallbackOrgEntity" >
    insert into FUND_UNIT_FALLBACK_ORG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialNo != null" >
        SERIALNO,
      </if>
      <if test="relativeSerialNo != null" >
        RELATIVESERIALNO,
      </if>
      <if test="orgType != null" >
        ORGTYPE,
      </if>
      <if test="orgName != null" >
        ORGNAME,
      </if>
      <if test="orgCode != null" >
        ORGCODE,
      </if>
      <if test="inputDate != null" >
        INPUTDATE,
      </if>
      <if test="updateUserId != null" >
        UPDATEUSERID,
      </if>
      <if test="updateDate != null" >
        UPDATEDATE,
      </if>
      <if test="inputUserId != null" >
        INPUTUSERID,
      </if>
      <if test="inputOrgId != null" >
        INPUTORGID,
      </if>
      <if test="updateOrgId != null" >
        UPDATEORGID,
      </if>
      <if test="fallbackType != null" >
        FALLBACKTYPE,
      </if>
      <if test="compensatoryDay != null" >
        COMPENSATORYDAY,
      </if>
      <if test="buybackDay != null" >
        BUYBACKDAY,
      </if>
      <if test="rateType != null" >
        RATETYPE,
      </if>
      <if test="rate != null" >
        RATE,
      </if>
      <if test="marginLevel != null" >
        MARGINLEVEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialNo != null" >
        #{serialNo,jdbcType=VARCHAR},
      </if>
      <if test="relativeSerialNo != null" >
        #{relativeSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="orgType != null" >
        #{orgType,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null" >
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="inputUserId != null" >
        #{inputUserId,jdbcType=VARCHAR},
      </if>
      <if test="inputOrgId != null" >
        #{inputOrgId,jdbcType=VARCHAR},
      </if>
      <if test="updateOrgId != null" >
        #{updateOrgId,jdbcType=VARCHAR},
      </if>
      <if test="fallbackType != null" >
        #{fallbackType,jdbcType=VARCHAR},
      </if>
      <if test="compensatoryDay != null" >
        #{compensatoryDay,jdbcType=VARCHAR},
      </if>
      <if test="buybackDay != null" >
        #{buybackDay,jdbcType=VARCHAR},
      </if>
      <if test="rateType != null" >
        #{rateType,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=VARCHAR},
      </if>
      <if test="marginLevel != null" >
        #{marginLevel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select SERIALNO, RELATIVESERIALNO, ORGTYPE, ORGNAME, ORGCODE, INPUTDATE, UPDATEUSERID, 
    UPDATEDATE, INPUTUSERID, INPUTORGID, UPDATEORGID, FALLBACKTYPE, COMPENSATORYDAY, 
    BUYBACKDAY, RATETYPE, RATE, MARGINLEVEL
    from FUND_UNIT_FALLBACK_ORG
  </select>
</mapper>