<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wu.fund.dao.FundUnitLoanChannelDao" >
  <resultMap id="BaseResultMap" type="com.wu.fund.entity.FundUnitLoanChannelEntity" >
    <result column="SERIALNO" property="serialNo" jdbcType="VARCHAR" />
    <result column="RELATIVESERIALNO" property="relativeSerialNo" jdbcType="VARCHAR" />
    <result column="INPUTDATE" property="inputDate" jdbcType="VARCHAR" />
    <result column="UPDATEUSERID" property="updateUserId" jdbcType="VARCHAR" />
    <result column="UPDATEDATE" property="updateDate" jdbcType="VARCHAR" />
    <result column="INPUTUSERID" property="inputUserId" jdbcType="VARCHAR" />
    <result column="INPUTORGID" property="inputOrgId" jdbcType="VARCHAR" />
    <result column="UPDATEORGID" property="updateOrgId" jdbcType="VARCHAR" />
    <result column="CHANNELTYPE" property="channelType" jdbcType="VARCHAR" />
    <result column="CHANNELCODE" property="channelCode" jdbcType="VARCHAR" />
    <result column="CHANNELNAME" property="channelName" jdbcType="VARCHAR" />
    <result column="CHANNELRATETYPE" property="channelRateType" jdbcType="VARCHAR" />
    <result column="CHANNELRATE" property="channelRate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SERIALNO, RELATIVESERIALNO, INPUTDATE, UPDATEUSERID, UPDATEDATE, INPUTUSERID, INPUTORGID,
    UPDATEORGID, CHANNELTYPE, CHANNELCODE, CHANNELNAME, CHANNELRATETYPE, CHANNELRATE
  </sql>
  <insert id="insert" parameterType="com.wu.fund.entity.FundUnitLoanChannelEntity" >
    insert into FUND_UNIT_LOAN_CHANNEL (SERIALNO, RELATIVESERIALNO, INPUTDATE, 
      UPDATEUSERID, UPDATEDATE, INPUTUSERID, 
      INPUTORGID, UPDATEORGID, CHANNELTYPE, 
      CHANNELCODE, CHANNELNAME, CHANNELRATETYPE, 
      CHANNELRATE)
    values (#{serialNo,jdbcType=VARCHAR}, #{relativeSerialNo,jdbcType=VARCHAR}, #{inputDate,jdbcType=VARCHAR},
      #{updateUserId,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR}, #{inputUserId,jdbcType=VARCHAR},
      #{inputOrgId,jdbcType=VARCHAR}, #{updateOrgId,jdbcType=VARCHAR}, #{channelType,jdbcType=VARCHAR},
      #{channelCode,jdbcType=VARCHAR}, #{channelName,jdbcType=VARCHAR}, #{channelRateType,jdbcType=VARCHAR},
      #{channelRate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wu.fund.entity.FundUnitLoanChannelEntity" >
    insert into FUND_UNIT_LOAN_CHANNEL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialNo != null" >
        SERIALNO,
      </if>
      <if test="relativeSerialNo != null" >
        RELATIVESERIALNO,
      </if>
      <if test="inputDate != null" >
        INPUTDATE,
      </if>
      <if test="updateUserId != null" >
        UPDATEUSERID,
      </if>
      <if test="updateDate != null" >
        UPDATEDATE,
      </if>
      <if test="inputUserId != null" >
        INPUTUSERID,
      </if>
      <if test="inputOrgId != null" >
        INPUTORGID,
      </if>
      <if test="updateOrgId != null" >
        UPDATEORGID,
      </if>
      <if test="channeltype != null" >
        CHANNELTYPE,
      </if>
      <if test="channelCode != null" >
        CHANNELCODE,
      </if>
      <if test="channelName != null" >
        CHANNELNAME,
      </if>
      <if test="channelRatetype != null" >
        CHANNELRATETYPE,
      </if>
      <if test="channelRate != null" >
        CHANNELRATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialNo != null" >
        #{serialNo,jdbcType=VARCHAR},
      </if>
      <if test="relativeSerialNo != null" >
        #{relativeSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null" >
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="inputUserId != null" >
        #{inputUserId,jdbcType=VARCHAR},
      </if>
      <if test="inputOrgId != null" >
        #{inputOrgId,jdbcType=VARCHAR},
      </if>
      <if test="updateOrgId != null" >
        #{updateOrgId,jdbcType=VARCHAR},
      </if>
      <if test="channeltype != null" >
        #{channeltype,jdbcType=VARCHAR},
      </if>
      <if test="channelCode != null" >
        #{channelCode,jdbcType=VARCHAR},
      </if>
      <if test="channelName != null" >
        #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="channelRatetype != null" >
        #{channelRatetype,jdbcType=VARCHAR},
      </if>
      <if test="channelRate != null" >
        #{channelRate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select SERIALNO, RELATIVESERIALNO, INPUTDATE, UPDATEUSERID, UPDATEDATE, INPUTUSERID, 
    INPUTORGID, UPDATEORGID, CHANNELTYPE, CHANNELCODE, CHANNELNAME, CHANNELRATETYPE, 
    CHANNELRATE
    from FUND_UNIT_LOAN_CHANNEL
  </select>
</mapper>