<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wu.fund.dao.FundUnitLoanOrgDao" >
  <resultMap id="BaseResultMap" type="com.wu.fund.entity.FundUnitLoanOrgEntity" >
    <id column="SERIALNO" property="serialNo" jdbcType="VARCHAR" />
    <result column="RELATIVESERIALNO" property="relativeSerialNo" jdbcType="VARCHAR" />
    <result column="ORGTYPE" property="orgType" jdbcType="VARCHAR" />
    <result column="ORGNAME" property="orgName" jdbcType="VARCHAR" />
    <result column="ORGCODE" property="orgCode" jdbcType="VARCHAR" />
    <result column="INPUTDATE" property="inputDate" jdbcType="VARCHAR" />
    <result column="UPDATEUSERID" property="updateUserId" jdbcType="VARCHAR" />
    <result column="UPDATEDATE" property="updateDate" jdbcType="VARCHAR" />
    <result column="INPUTUSERID" property="inputUserId" jdbcType="VARCHAR" />
    <result column="INPUTORGID" property="inputOrgId" jdbcType="VARCHAR" />
    <result column="UPDATEORGID" property="updateOrgId" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    SERIALNO, RELATIVESERIALNO, ORGTYPE, ORGNAME, ORGCODE, INPUTDATE, UPDATEUSERID, UPDATEDATE,
    INPUTUSERID, INPUTORGID, UPDATEORGID
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from FUND_UNIT_LOAN_ORG
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wu.fund.entity.FundUnitLoanOrgEntity" >
    insert into FUND_UNIT_LOAN_ORG (SERIALNO, RELATIVESERIALNO, ORGTYPE, 
      ORGNAME, ORGCODE, INPUTDATE, 
      UPDATEUSERID, UPDATEDATE, INPUTUSERID, 
      INPUTORGID, UPDATEORGID)
    values (#{serialNo,jdbcType=VARCHAR}, #{relativeSerialNo,jdbcType=VARCHAR}, #{orgType,jdbcType=VARCHAR},
      #{orgName,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, #{inputDate,jdbcType=VARCHAR},
      #{updateUserId,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR}, #{inputUserId,jdbcType=VARCHAR},
      #{inputOrgId,jdbcType=VARCHAR}, #{updateOrgId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wu.fund.entity.FundUnitLoanOrgEntity" >
    insert into FUND_UNIT_LOAN_ORG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialNo != null" >
        SERIALNO,
      </if>
      <if test="relativeSerialNo != null" >
        RELATIVESERIALNO,
      </if>
      <if test="orgType != null" >
        ORGTYPE,
      </if>
      <if test="orgName != null" >
        ORGNAME,
      </if>
      <if test="orgCode != null" >
        ORGCODE,
      </if>
      <if test="inputDate != null" >
        INPUTDATE,
      </if>
      <if test="updateUserId != null" >
        UPDATEUSERID,
      </if>
      <if test="updateDate != null" >
        UPDATEDATE,
      </if>
      <if test="inputUserId != null" >
        INPUTUSERID,
      </if>
      <if test="inputOrgId != null" >
        INPUTORGID,
      </if>
      <if test="updateOrgId != null" >
        UPDATEORGID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialNo != null" >
        #{serialNo,jdbcType=VARCHAR},
      </if>
      <if test="relativeSerialNo != null" >
        #{relativeSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="orgType != null" >
        #{orgType,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null" >
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="inputUserId != null" >
        #{inputUserId,jdbcType=VARCHAR},
      </if>
      <if test="inputOrgId != null" >
        #{inputOrgId,jdbcType=VARCHAR},
      </if>
      <if test="updateOrgId != null" >
        #{updateOrgId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wu.fund.entity.FundUnitLoanOrgEntity" >
    update FUND_UNIT_LOAN_ORG
    set RELATIVESERIALNO = #{relativeSerialNo,jdbcType=VARCHAR},
      ORGTYPE = #{orgType,jdbcType=VARCHAR},
      ORGNAME = #{orgName,jdbcType=VARCHAR},
      ORGCODE = #{orgCode,jdbcType=VARCHAR},
      INPUTDATE = #{inputDate,jdbcType=VARCHAR},
      UPDATEUSERID = #{updateUserId,jdbcType=VARCHAR},
      UPDATEDATE = #{updateDate,jdbcType=VARCHAR},
      INPUTUSERID = #{inputUserId,jdbcType=VARCHAR},
      INPUTORGID = #{inputOrgId,jdbcType=VARCHAR},
      UPDATEORGID = #{updateOrgId,jdbcType=VARCHAR}
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wu.fund.entity.FundUnitLoanOrgEntity" >
    update FUND_UNIT_LOAN_ORG
    <set >
      <if test="relativeSerialNo != null" >
        RELATIVESERIALNO = #{relativeSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="orgType != null" >
        ORGTYPE = #{orgType,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORGNAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        ORGCODE = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null" >
        INPUTDATE = #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        UPDATEUSERID = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATEDATE = #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="inputUserId != null" >
        INPUTUSERID = #{inputUserId,jdbcType=VARCHAR},
      </if>
      <if test="inputOrgId != null" >
        INPUTORGID = #{inputOrgId,jdbcType=VARCHAR},
      </if>
      <if test="updateOrgId != null" >
        UPDATEORGID = #{updateOrgId,jdbcType=VARCHAR},
      </if>
    </set>
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select SERIALNO, RELATIVESERIALNO, ORGTYPE, ORGNAME, ORGCODE, INPUTDATE, UPDATEUSERID, 
    UPDATEDATE, INPUTUSERID, INPUTORGID, UPDATEORGID
    from FUND_UNIT_LOAN_ORG
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select SERIALNO, RELATIVESERIALNO, ORGTYPE, ORGNAME, ORGCODE, INPUTDATE, UPDATEUSERID, 
    UPDATEDATE, INPUTUSERID, INPUTORGID, UPDATEORGID
    from FUND_UNIT_LOAN_ORG
  </select>
</mapper>