<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wu.fund.dao.FundUnitLoanChannelDao" >
  <resultMap id="BaseResultMap" type="com.wu.fund.entity.FundUnitLoanChannelEntity" >
    <result column="SERIALNO" property="serialNo" jdbcType="VARCHAR" />
    <result column="RELATIVESERIALNO" property="relativeSerialNo" jdbcType="VARCHAR" />
    <result column="INPUTDATE" property="inputDate" jdbcType="VARCHAR" />
    <result column="UPDATEUSERID" property="updateUserId" jdbcType="VARCHAR" />
    <result column="UPDATEDATE" property="updateDate" jdbcType="VARCHAR" />
    <result column="INPUTUSERID" property="inputUserId" jdbcType="VARCHAR" />
    <result column="INPUTORGID" property="inputOrgId" jdbcType="VARCHAR" />
    <result column="UPDATEORGID" property="updateOrgId" jdbcType="VARCHAR" />
    <result column="CHANNELTYPE" property="channelType" jdbcType="VARCHAR" />
    <result column="CHANNELCODE" property="channelCode" jdbcType="VARCHAR" />
    <result column="CHANNELNAME" property="channelName" jdbcType="VARCHAR" />
    <result column="CHANNELRATETYPE" property="channelRateType" jdbcType="VARCHAR" />
    <result column="CHANNELRATE" property="channelRate" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.wu.fund.entity.FundUnitLoanChannelEntity" >
    insert into FUND_UNIT_LOAN_CHANNEL (SERIALNO, RELATIVESERIALNO, INPUTDATE, 
      UPDATEUSERID, UPDATEDATE, INPUTUSERID, 
      INPUTORGID, UPDATEORGID, CHANNELTYPE, 
      CHANNELCODE, CHANNELNAME, CHANNELRATETYPE, 
      CHANNELRATE)
    values (#{serialNo,jdbcType=VARCHAR}, #{relativeSerialNo,jdbcType=VARCHAR}, #{inputDate,jdbcType=VARCHAR},
      #{updateUserId,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR}, #{inputUserId,jdbcType=VARCHAR},
      #{inputOrgId,jdbcType=VARCHAR}, #{updateOrgId,jdbcType=VARCHAR}, #{channelType,jdbcType=VARCHAR},
      #{channelCode,jdbcType=VARCHAR}, #{channelName,jdbcType=VARCHAR}, #{channelRateType,jdbcType=VARCHAR},
      #{channelRate,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select SERIALNO, RELATIVESERIALNO, INPUTDATE, UPDATEUSERID, UPDATEDATE, INPUTUSERID, 
    INPUTORGID, UPDATEORGID, CHANNELTYPE, CHANNELCODE, CHANNELNAME, CHANNELRATETYPE, 
    CHANNELRATE
    from FUND_UNIT_LOAN_CHANNEL
  </select>
</mapper>