<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wu.fund.dao.LoanOrgBankChargeMapper" >
  <resultMap id="BaseResultMap" type="com.wu.fund.entity.LoanOrgBankChargeEntity" >
    <id column="SERIALNO" property="serialno" jdbcType="VARCHAR" />
    <result column="RELATIVESERIALNO" property="relativeserialno" jdbcType="VARCHAR" />
    <result column="INPUTDATE" property="inputdate" jdbcType="VARCHAR" />
    <result column="UPDATEUSERID" property="updateuserid" jdbcType="VARCHAR" />
    <result column="UPDATEDATE" property="updatedate" jdbcType="VARCHAR" />
    <result column="INPUTUSERID" property="inputuserid" jdbcType="VARCHAR" />
    <result column="INPUTORGID" property="inputorgid" jdbcType="VARCHAR" />
    <result column="UPDATEORGID" property="updateorgid" jdbcType="VARCHAR" />
    <result column="LOWLIMIT" property="lowlimit" jdbcType="VARCHAR" />
    <result column="UPLIMIT" property="uplimit" jdbcType="VARCHAR" />
    <result column="SINGLESUM" property="singlesum" jdbcType="VARCHAR" />
    <result column="RELATIVETYPE" property="relativetype" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from LOAN_ORG_BANK_CHARGE
    where SERIALNO = #{serialno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wu.fund.entity.LoanOrgBankChargeEntity" >
    insert into LOAN_ORG_BANK_CHARGE (SERIALNO, RELATIVESERIALNO, INPUTDATE, 
      UPDATEUSERID, UPDATEDATE, INPUTUSERID, 
      INPUTORGID, UPDATEORGID, LOWLIMIT, 
      UPLIMIT, SINGLESUM, RELATIVETYPE
      )
    values (#{serialno,jdbcType=VARCHAR}, #{relativeserialno,jdbcType=VARCHAR}, #{inputdate,jdbcType=VARCHAR}, 
      #{updateuserid,jdbcType=VARCHAR}, #{updatedate,jdbcType=VARCHAR}, #{inputuserid,jdbcType=VARCHAR}, 
      #{inputorgid,jdbcType=VARCHAR}, #{updateorgid,jdbcType=VARCHAR}, #{lowlimit,jdbcType=VARCHAR}, 
      #{uplimit,jdbcType=VARCHAR}, #{singlesum,jdbcType=VARCHAR}, #{relativetype,jdbcType=VARCHAR}
      )
  </insert>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select SERIALNO, RELATIVESERIALNO, INPUTDATE, UPDATEUSERID, UPDATEDATE, INPUTUSERID, 
    INPUTORGID, UPDATEORGID, LOWLIMIT, UPLIMIT, SINGLESUM, RELATIVETYPE
    from LOAN_ORG_BANK_CHARGE
    where SERIALNO = #{serialno,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select SERIALNO, RELATIVESERIALNO, INPUTDATE, UPDATEUSERID, UPDATEDATE, INPUTUSERID, 
    INPUTORGID, UPDATEORGID, LOWLIMIT, UPLIMIT, SINGLESUM, RELATIVETYPE
    from LOAN_ORG_BANK_CHARGE
  </select>
</mapper>