<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wu.fund.dao.LoanOrgFunctionConstraintDao" >
  <resultMap id="BaseResultMap" type="com.wu.fund.entity.LoanOrgFunctionConstraintEntity" >
    <id column="SERIALNO" property="serialNo" jdbcType="VARCHAR" />
    <result column="RELATIVESERIALNO" property="relativeSerialNo" jdbcType="VARCHAR" />
    <result column="OVERTIME" property="overtime" jdbcType="VARCHAR" />
    <result column="APPLYFREQUENCY" property="applyFrequency" jdbcType="VARCHAR" />
    <result column="FUNCTIONTYPE" property="functionType" jdbcType="VARCHAR" />
    <result column="SUBUPLOADIMAGE" property="subUploadImage" jdbcType="VARCHAR" />
    <result column="SUBAPPLYFRONT" property="subApplyFront" jdbcType="VARCHAR" />
    <result column="SUBAPPLY" property="subApply" jdbcType="VARCHAR" />
    <result column="SUBWAITRESULT" property="subWaitResult" jdbcType="VARCHAR" />
    <result column="SUBQUERYRESULT" property="subQueryResult" jdbcType="VARCHAR" />
    <result column="SUBAPPLYPOST" property="subApplyPost" jdbcType="VARCHAR" />
    <result column="INPUTDATE" property="inputDate" jdbcType="VARCHAR" />
    <result column="UPDATEUSERID" property="updateUserId" jdbcType="VARCHAR" />
    <result column="UPDATEDATE" property="updateDate" jdbcType="VARCHAR" />
    <result column="INPUTUSERID" property="inputUserId" jdbcType="VARCHAR" />
    <result column="INPUTORGID" property="inputOrgId" jdbcType="VARCHAR" />
    <result column="UPDATEORGID" property="updateOrgId" jdbcType="VARCHAR" />
    <result column="FUNCTIONNAME" property="functionName" jdbcType="VARCHAR" />
    <result column="FUNCTIONONOFF" property="functionOnOff" jdbcType="VARCHAR" />
    <result column="RELATIVETYPE" property="relativeType" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from LOAN_ORG_FUNCTION_CONSTRAINT
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wu.fund.entity.LoanOrgFunctionConstraintEntity" >
    insert into LOAN_ORG_FUNCTION_CONSTRAINT (SERIALNO, RELATIVESERIALNO, OVERTIME, 
      APPLYFREQUENCY, FUNCTIONTYPE, SUBUPLOADIMAGE, 
      SUBAPPLYFRONT, SUBAPPLY, SUBWAITRESULT, 
      SUBQUERYRESULT, SUBAPPLYPOST, INPUTDATE, 
      UPDATEUSERID, UPDATEDATE, INPUTUSERID, 
      INPUTORGID, UPDATEORGID, FUNCTIONNAME, 
      FUNCTIONONOFF, RELATIVETYPE)
    values (#{serialNo,jdbcType=VARCHAR}, #{relativeSerialNo,jdbcType=VARCHAR}, #{overtime,jdbcType=VARCHAR},
      #{applyFrequency,jdbcType=VARCHAR}, #{functionType,jdbcType=VARCHAR}, #{subUploadImage,jdbcType=VARCHAR},
      #{subApplyFront,jdbcType=VARCHAR}, #{subApply,jdbcType=VARCHAR}, #{subWaitResult,jdbcType=VARCHAR},
      #{subQueryResult,jdbcType=VARCHAR}, #{subApplyPost,jdbcType=VARCHAR}, #{inputDate,jdbcType=VARCHAR},
      #{updateUserId,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR}, #{inputUserId,jdbcType=VARCHAR},
      #{inputOrgId,jdbcType=VARCHAR}, #{updateOrgId,jdbcType=VARCHAR}, #{functionName,jdbcType=VARCHAR},
      #{functionOnOff,jdbcType=VARCHAR}, #{relativeType,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wu.fund.entity.LoanOrgFunctionConstraintEntity" >
    update LOAN_ORG_FUNCTION_CONSTRAINT
    set RELATIVESERIALNO = #{relativeSerialNo,jdbcType=VARCHAR},
      OVERTIME = #{overtime,jdbcType=VARCHAR},
      APPLYFREQUENCY = #{applyFrequency,jdbcType=VARCHAR},
      FUNCTIONTYPE = #{functionType,jdbcType=VARCHAR},
      SUBUPLOADIMAGE = #{subUploadImage,jdbcType=VARCHAR},
      SUBAPPLYFRONT = #{subApplyFront,jdbcType=VARCHAR},
      SUBAPPLY = #{subApply,jdbcType=VARCHAR},
      SUBWAITRESULT = #{subWaitResult,jdbcType=VARCHAR},
      SUBQUERYRESULT = #{subQueryResult,jdbcType=VARCHAR},
      SUBAPPLYPOST = #{subApplyPost,jdbcType=VARCHAR},
      INPUTDATE = #{inputDate,jdbcType=VARCHAR},
      UPDATEUSERID = #{updateUserId,jdbcType=VARCHAR},
      UPDATEDATE = #{updateDate,jdbcType=VARCHAR},
      INPUTUSERID = #{inputUserId,jdbcType=VARCHAR},
      INPUTORGID = #{inputOrgId,jdbcType=VARCHAR},
      UPDATEORGID = #{updateOrgId,jdbcType=VARCHAR},
      FUNCTIONNAME = #{functionName,jdbcType=VARCHAR},
      FUNCTIONONOFF = #{functionOnOff,jdbcType=VARCHAR},
      RELATIVETYPE = #{relativeType,jdbcType=VARCHAR}
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select SERIALNO, RELATIVESERIALNO, OVERTIME, APPLYFREQUENCY, FUNCTIONTYPE, SUBUPLOADIMAGE, 
    SUBAPPLYFRONT, SUBAPPLY, SUBWAITRESULT, SUBQUERYRESULT, SUBAPPLYPOST, INPUTDATE, 
    UPDATEUSERID, UPDATEDATE, INPUTUSERID, INPUTORGID, UPDATEORGID, FUNCTIONNAME, FUNCTIONONOFF, 
    RELATIVETYPE
    from LOAN_ORG_FUNCTION_CONSTRAINT
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select SERIALNO, RELATIVESERIALNO, OVERTIME, APPLYFREQUENCY, FUNCTIONTYPE, SUBUPLOADIMAGE, 
    SUBAPPLYFRONT, SUBAPPLY, SUBWAITRESULT, SUBQUERYRESULT, SUBAPPLYPOST, INPUTDATE, 
    UPDATEUSERID, UPDATEDATE, INPUTUSERID, INPUTORGID, UPDATEORGID, FUNCTIONNAME, FUNCTIONONOFF, 
    RELATIVETYPE
    from LOAN_ORG_FUNCTION_CONSTRAINT
  </select>
</mapper>