<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wu.fund.dao.LoanOrgPutoutConstraintDao">
  <resultMap id="BaseResultMap" type="com.wu.fund.entity.LoanOrgPutoutConstraintEntity">
    <id column="SERIALNO" jdbcType="VARCHAR" property="serialNo" />
    <result column="RELATIVESERIALNO" jdbcType="VARCHAR" property="relativeSerialNo" />
    <result column="QUERYPUTOUT" jdbcType="VARCHAR" property="queryputout" />
    <result column="CARDCHECK" jdbcType="VARCHAR" property="cardCheck" />
    <result column="SECONDACCOUNT" jdbcType="VARCHAR" property="secondAccount" />
    <result column="INPUTDATE" jdbcType="VARCHAR" property="inputDate" />
    <result column="UPDATEUSERID" jdbcType="VARCHAR" property="updateUserId" />
    <result column="UPDATEDATE" jdbcType="VARCHAR" property="updateDate" />
    <result column="INPUTUSERID" jdbcType="VARCHAR" property="inputUserId" />
    <result column="INPUTORGID" jdbcType="VARCHAR" property="inputOrgId" />
    <result column="UPDATEORGID" jdbcType="VARCHAR" property="updateOrgId" />
    <result column="PAYFEERULE" jdbcType="VARCHAR" property="payFeeRule" />
    <result column="ISCREATESCHEDULE" jdbcType="VARCHAR" property="isCreateSchedule" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from LOAN_ORG_PUTOUT_CONSTRAINT
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wu.fund.entity.LoanOrgPutoutConstraintEntity">
    insert into LOAN_ORG_PUTOUT_CONSTRAINT (SERIALNO, RELATIVESERIALNO, QUERYPUTOUT, 
      CARDCHECK, SECONDACCOUNT, INPUTDATE, 
      UPDATEUSERID, UPDATEDATE, INPUTUSERID, 
      INPUTORGID, UPDATEORGID, PAYFEERULE, 
      ISCREATESCHEDULE)
    values (#{serialNo,jdbcType=VARCHAR}, #{relativeSerialNo,jdbcType=VARCHAR}, #{queryputout,jdbcType=VARCHAR},
      #{cardCheck,jdbcType=VARCHAR}, #{secondAccount,jdbcType=VARCHAR}, #{inputDate,jdbcType=VARCHAR},
      #{updateUserId,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR}, #{inputUserId,jdbcType=VARCHAR},
      #{inputOrgId,jdbcType=VARCHAR}, #{updateOrgId,jdbcType=VARCHAR}, #{payFeeRule,jdbcType=VARCHAR},
      #{isCreateSchedule,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wu.fund.entity.LoanOrgPutoutConstraintEntity">
    update LOAN_ORG_PUTOUT_CONSTRAINT
    set RELATIVESERIALNO = #{relativeSerialNo,jdbcType=VARCHAR},
      QUERYPUTOUT = #{queryputout,jdbcType=VARCHAR},
      CARDCHECK = #{cardCheck,jdbcType=VARCHAR},
      SECONDACCOUNT = #{secondAccount,jdbcType=VARCHAR},
      INPUTDATE = #{inputDate,jdbcType=VARCHAR},
      UPDATEUSERID = #{updateUserId,jdbcType=VARCHAR},
      UPDATEDATE = #{updateDate,jdbcType=VARCHAR},
      INPUTUSERID = #{inputUserId,jdbcType=VARCHAR},
      INPUTORGID = #{inputOrgId,jdbcType=VARCHAR},
      UPDATEORGID = #{updateOrgId,jdbcType=VARCHAR},
      PAYFEERULE = #{payFeeRule,jdbcType=VARCHAR},
      ISCREATESCHEDULE = #{isCreateSchedule,jdbcType=VARCHAR}
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SERIALNO, RELATIVESERIALNO, QUERYPUTOUT, CARDCHECK, SECONDACCOUNT, INPUTDATE, 
    UPDATEUSERID, UPDATEDATE, INPUTUSERID, INPUTORGID, UPDATEORGID, PAYFEERULE, ISCREATESCHEDULE
    from LOAN_ORG_PUTOUT_CONSTRAINT
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SERIALNO, RELATIVESERIALNO, QUERYPUTOUT, CARDCHECK, SECONDACCOUNT, INPUTDATE, 
    UPDATEUSERID, UPDATEDATE, INPUTUSERID, INPUTORGID, UPDATEORGID, PAYFEERULE, ISCREATESCHEDULE
    from LOAN_ORG_PUTOUT_CONSTRAINT
  </select>
</mapper>