<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wu.fund.dao.LoanOrgApplyConstraintDao" >
  <resultMap id="BaseResultMap" type="com.wu.fund.entity.LoanOrgApplyConstraintEntity" >
    <id column="SERIALNO" property="serialNo" jdbcType="VARCHAR" />
    <result column="RELATIVESERIALNO" property="relativeSerialNo" jdbcType="VARCHAR" />
    <result column="CONTROLTYPE" property="controlType" jdbcType="VARCHAR" />
    <result column="MONTHLIMIT" property="monthLimit" jdbcType="VARCHAR" />
    <result column="PUTOUTMULTIPLE" property="putOutMultiple" jdbcType="VARCHAR" />
    <result column="DAYLIMIT" property="dayLimit" jdbcType="VARCHAR" />
    <result column="APPROVETERM" property="approveTerm" jdbcType="VARCHAR" />
    <result column="REFUSETERM" property="refuseTerm" jdbcType="VARCHAR" />
    <result column="QUERYCREDIT" property="queryCredit" jdbcType="VARCHAR" />
    <result column="CARDCHECK" property="cardCheck" jdbcType="VARCHAR" />
    <result column="INPUTDATE" property="inputDate" jdbcType="VARCHAR" />
    <result column="UPDATEUSERID" property="updateUserId" jdbcType="VARCHAR" />
    <result column="UPDATEDATE" property="updateDate" jdbcType="VARCHAR" />
    <result column="INPUTUSERID" property="inputUserId" jdbcType="VARCHAR" />
    <result column="INPUTORGID" property="inputOrgId" jdbcType="VARCHAR" />
    <result column="UPDATEORGID" property="updateOrgId" jdbcType="VARCHAR" />
    <result column="CHARGETYPE" property="chargeType" jdbcType="VARCHAR" />
    <result column="RELATIVETYPE" property="relativeType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
     SERIALNO, RELATIVESERIALNO, CONTROLTYPE, MONTHLIMIT, PUTOUTMULTIPLE, DAYLIMIT,
    APPROVETERM, REFUSETERM, QUERYCREDIT, CARDCHECK, INPUTDATE, UPDATEUSERID, UPDATEDATE,
    INPUTUSERID, INPUTORGID, UPDATEORGID, CHARGETYPE, RELATIVETYPE

  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from LOAN_ORG_APPLY_CONSTRAINT
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wu.fund.entity.LoanOrgApplyConstraintEntity" >
    insert into LOAN_ORG_APPLY_CONSTRAINT (SERIALNO, RELATIVESERIALNO, CONTROLTYPE, 
      MONTHLIMIT, PUTOUTMULTIPLE, DAYLIMIT, 
      APPROVETERM, REFUSETERM, QUERYCREDIT, 
      CARDCHECK, INPUTDATE, UPDATEUSERID, 
      UPDATEDATE, INPUTUSERID, INPUTORGID, 
      UPDATEORGID, CHARGETYPE, RELATIVETYPE
      )
    values (#{serialNo,jdbcType=VARCHAR}, #{relativeSerialNo,jdbcType=VARCHAR}, #{controlType,jdbcType=VARCHAR},
      #{monthLimit,jdbcType=VARCHAR}, #{putOutMultiple,jdbcType=VARCHAR}, #{dayLimit,jdbcType=VARCHAR},
      #{approveTerm,jdbcType=VARCHAR}, #{refuseTerm,jdbcType=VARCHAR}, #{queryCredit,jdbcType=VARCHAR},
      #{cardCheck,jdbcType=VARCHAR}, #{inputDate,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR},
      #{updateDate,jdbcType=VARCHAR}, #{inputUserId,jdbcType=VARCHAR}, #{inputOrgId,jdbcType=VARCHAR},
      #{updateOrgId,jdbcType=VARCHAR}, #{chargeType,jdbcType=VARCHAR}, #{relativeType,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.wu.fund.entity.LoanOrgApplyConstraintEntity" >
    insert into LOAN_ORG_APPLY_CONSTRAINT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialNo != null" >
        SERIALNO,
      </if>
      <if test="relativeSerialNo != null" >
        RELATIVESERIALNO,
      </if>
      <if test="controlType != null" >
        CONTROLTYPE,
      </if>
      <if test="monthLimit != null" >
        MONTHLIMIT,
      </if>
      <if test="putOutMultiple != null" >
        PUTOUTMULTIPLE,
      </if>
      <if test="dayLimit != null" >
        DAYLIMIT,
      </if>
      <if test="approveTerm != null" >
        APPROVETERM,
      </if>
      <if test="refuseTerm != null" >
        REFUSETERM,
      </if>
      <if test="queryCredit != null" >
        QUERYCREDIT,
      </if>
      <if test="cardCheck != null" >
        CARDCHECK,
      </if>
      <if test="inputDate != null" >
        INPUTDATE,
      </if>
      <if test="updateUserId != null" >
        UPDATEUSERID,
      </if>
      <if test="updateDate != null" >
        UPDATEDATE,
      </if>
      <if test="inputUserId != null" >
        INPUTUSERID,
      </if>
      <if test="inputOrgId != null" >
        INPUTORGID,
      </if>
      <if test="updateOrgId != null" >
        UPDATEORGID,
      </if>
      <if test="chargeType != null" >
        CHARGETYPE,
      </if>
      <if test="relativeType != null" >
        RELATIVETYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialNo != null" >
        #{serialNo,jdbcType=VARCHAR},
      </if>
      <if test="relativeSerialNo != null" >
        #{relativeSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="controlType != null" >
        #{controlType,jdbcType=VARCHAR},
      </if>
      <if test="monthLimit != null" >
        #{monthLimit,jdbcType=VARCHAR},
      </if>
      <if test="putOutMultiple != null" >
        #{putOutMultiple,jdbcType=VARCHAR},
      </if>
      <if test="dayLimit != null" >
        #{dayLimit,jdbcType=VARCHAR},
      </if>
      <if test="approveTerm != null" >
        #{approveTerm,jdbcType=VARCHAR},
      </if>
      <if test="refuseTerm != null" >
        #{refuseTerm,jdbcType=VARCHAR},
      </if>
      <if test="queryCredit != null" >
        #{queryCredit,jdbcType=VARCHAR},
      </if>
      <if test="cardCheck != null" >
        #{cardCheck,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null" >
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="inputUserId != null" >
        #{inputUserId,jdbcType=VARCHAR},
      </if>
      <if test="inputOrgId != null" >
        #{inputOrgId,jdbcType=VARCHAR},
      </if>
      <if test="updateOrgId != null" >
        #{updateOrgId,jdbcType=VARCHAR},
      </if>
      <if test="chargeType != null" >
        #{chargeType,jdbcType=VARCHAR},
      </if>
      <if test="relativeType != null" >
        #{relativeType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wu.fund.entity.LoanOrgApplyConstraintEntity" >
    update LOAN_ORG_APPLY_CONSTRAINT
    set RELATIVESERIALNO = #{relativeSerialNo,jdbcType=VARCHAR},
      CONTROLTYPE = #{controlType,jdbcType=VARCHAR},
      MONTHLIMIT = #{monthLimit,jdbcType=VARCHAR},
      PUTOUTMULTIPLE = #{putOutMultiple,jdbcType=VARCHAR},
      DAYLIMIT = #{dayLimit,jdbcType=VARCHAR},
      APPROVETERM = #{approveTerm,jdbcType=VARCHAR},
      REFUSETERM = #{refuseTerm,jdbcType=VARCHAR},
      QUERYCREDIT = #{queryCredit,jdbcType=VARCHAR},
      CARDCHECK = #{cardCheck,jdbcType=VARCHAR},
      INPUTDATE = #{inputDate,jdbcType=VARCHAR},
      UPDATEUSERID = #{updateUserId,jdbcType=VARCHAR},
      UPDATEDATE = #{updateDate,jdbcType=VARCHAR},
      INPUTUSERID = #{inputUserId,jdbcType=VARCHAR},
      INPUTORGID = #{inputOrgId,jdbcType=VARCHAR},
      UPDATEORGID = #{updateOrgId,jdbcType=VARCHAR},
      CHARGETYPE = #{chargeType,jdbcType=VARCHAR},
      RELATIVETYPE = #{relativeType,jdbcType=VARCHAR}
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.wu.fund.entity.LoanOrgApplyConstraintEntity" >
    update LOAN_ORG_APPLY_CONSTRAINT
    <set >
      <if test="relativeSerialNo != null" >
        RELATIVESERIALNO = #{relativeSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="controlType != null" >
        CONTROLTYPE = #{controlType,jdbcType=VARCHAR},
      </if>
      <if test="monthLimit != null" >
        MONTHLIMIT = #{monthLimit,jdbcType=VARCHAR},
      </if>
      <if test="putOutMultiple != null" >
        PUTOUTMULTIPLE = #{putOutMultiple,jdbcType=VARCHAR},
      </if>
      <if test="dayLimit != null" >
        DAYLIMIT = #{dayLimit,jdbcType=VARCHAR},
      </if>
      <if test="approveTerm != null" >
        APPROVETERM = #{approveTerm,jdbcType=VARCHAR},
      </if>
      <if test="refuseTerm != null" >
        REFUSETERM = #{refuseTerm,jdbcType=VARCHAR},
      </if>
      <if test="queryCredit != null" >
        QUERYCREDIT = #{queryCredit,jdbcType=VARCHAR},
      </if>
      <if test="cardCheck != null" >
        CARDCHECK = #{cardCheck,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null" >
        INPUTDATE = #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        UPDATEUSERID = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATEDATE = #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="inputUserId != null" >
        INPUTUSERID = #{inputUserId,jdbcType=VARCHAR},
      </if>
      <if test="inputOrgId != null" >
        INPUTORGID = #{inputOrgId,jdbcType=VARCHAR},
      </if>
      <if test="updateOrgId != null" >
        UPDATEORGID = #{updateOrgId,jdbcType=VARCHAR},
      </if>
      <if test="chargeType != null" >
        CHARGETYPE = #{chargeType,jdbcType=VARCHAR},
      </if>
      <if test="relativeType != null" >
        RELATIVETYPE = #{relativeType,jdbcType=VARCHAR},
      </if>
    </set>
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_List"/>
    from LOAN_ORG_APPLY_CONSTRAINT
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List"/>
    from LOAN_ORG_APPLY_CONSTRAINT
  </select>
</mapper>