<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wu.fund.dao.LoanOrgApplyConstraintMapper" >
  <resultMap id="BaseResultMap" type="com.wu.fund.entity.LoanOrgApplyConstraint" >
    <id column="SERIALNO" property="serialno" jdbcType="VARCHAR" />
    <result column="RELATIVESERIALNO" property="relativeserialno" jdbcType="VARCHAR" />
    <result column="CONTROLTYPE" property="controltype" jdbcType="VARCHAR" />
    <result column="MONTHLIMIT" property="monthlimit" jdbcType="VARCHAR" />
    <result column="PUTOUTMULTIPLE" property="putoutmultiple" jdbcType="VARCHAR" />
    <result column="DAYLIMIT" property="daylimit" jdbcType="VARCHAR" />
    <result column="APPROVETERM" property="approveterm" jdbcType="VARCHAR" />
    <result column="REFUSETERM" property="refuseterm" jdbcType="VARCHAR" />
    <result column="QUERYCREDIT" property="querycredit" jdbcType="VARCHAR" />
    <result column="CARDCHECK" property="cardcheck" jdbcType="VARCHAR" />
    <result column="INPUTDATE" property="inputdate" jdbcType="VARCHAR" />
    <result column="UPDATEUSERID" property="updateuserid" jdbcType="VARCHAR" />
    <result column="UPDATEDATE" property="updatedate" jdbcType="VARCHAR" />
    <result column="INPUTUSERID" property="inputuserid" jdbcType="VARCHAR" />
    <result column="INPUTORGID" property="inputorgid" jdbcType="VARCHAR" />
    <result column="UPDATEORGID" property="updateorgid" jdbcType="VARCHAR" />
    <result column="CHARGETYPE" property="chargetype" jdbcType="VARCHAR" />
    <result column="RELATIVETYPE" property="relativetype" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from LOAN_ORG_APPLY_CONSTRAINT
    where SERIALNO = #{serialno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wu.fund.entity.LoanOrgApplyConstraint" >
    insert into LOAN_ORG_APPLY_CONSTRAINT (SERIALNO, RELATIVESERIALNO, CONTROLTYPE, 
      MONTHLIMIT, PUTOUTMULTIPLE, DAYLIMIT, 
      APPROVETERM, REFUSETERM, QUERYCREDIT, 
      CARDCHECK, INPUTDATE, UPDATEUSERID, 
      UPDATEDATE, INPUTUSERID, INPUTORGID, 
      UPDATEORGID, CHARGETYPE, RELATIVETYPE
      )
    values (#{serialno,jdbcType=VARCHAR}, #{relativeserialno,jdbcType=VARCHAR}, #{controltype,jdbcType=VARCHAR}, 
      #{monthlimit,jdbcType=VARCHAR}, #{putoutmultiple,jdbcType=VARCHAR}, #{daylimit,jdbcType=VARCHAR}, 
      #{approveterm,jdbcType=VARCHAR}, #{refuseterm,jdbcType=VARCHAR}, #{querycredit,jdbcType=VARCHAR}, 
      #{cardcheck,jdbcType=VARCHAR}, #{inputdate,jdbcType=VARCHAR}, #{updateuserid,jdbcType=VARCHAR}, 
      #{updatedate,jdbcType=VARCHAR}, #{inputuserid,jdbcType=VARCHAR}, #{inputorgid,jdbcType=VARCHAR}, 
      #{updateorgid,jdbcType=VARCHAR}, #{chargetype,jdbcType=VARCHAR}, #{relativetype,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wu.fund.entity.LoanOrgApplyConstraint" >
    update LOAN_ORG_APPLY_CONSTRAINT
    set RELATIVESERIALNO = #{relativeserialno,jdbcType=VARCHAR},
      CONTROLTYPE = #{controltype,jdbcType=VARCHAR},
      MONTHLIMIT = #{monthlimit,jdbcType=VARCHAR},
      PUTOUTMULTIPLE = #{putoutmultiple,jdbcType=VARCHAR},
      DAYLIMIT = #{daylimit,jdbcType=VARCHAR},
      APPROVETERM = #{approveterm,jdbcType=VARCHAR},
      REFUSETERM = #{refuseterm,jdbcType=VARCHAR},
      QUERYCREDIT = #{querycredit,jdbcType=VARCHAR},
      CARDCHECK = #{cardcheck,jdbcType=VARCHAR},
      INPUTDATE = #{inputdate,jdbcType=VARCHAR},
      UPDATEUSERID = #{updateuserid,jdbcType=VARCHAR},
      UPDATEDATE = #{updatedate,jdbcType=VARCHAR},
      INPUTUSERID = #{inputuserid,jdbcType=VARCHAR},
      INPUTORGID = #{inputorgid,jdbcType=VARCHAR},
      UPDATEORGID = #{updateorgid,jdbcType=VARCHAR},
      CHARGETYPE = #{chargetype,jdbcType=VARCHAR},
      RELATIVETYPE = #{relativetype,jdbcType=VARCHAR}
    where SERIALNO = #{serialno,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select SERIALNO, RELATIVESERIALNO, CONTROLTYPE, MONTHLIMIT, PUTOUTMULTIPLE, DAYLIMIT, 
    APPROVETERM, REFUSETERM, QUERYCREDIT, CARDCHECK, INPUTDATE, UPDATEUSERID, UPDATEDATE, 
    INPUTUSERID, INPUTORGID, UPDATEORGID, CHARGETYPE, RELATIVETYPE
    from LOAN_ORG_APPLY_CONSTRAINT
    where SERIALNO = #{serialno,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select SERIALNO, RELATIVESERIALNO, CONTROLTYPE, MONTHLIMIT, PUTOUTMULTIPLE, DAYLIMIT, 
    APPROVETERM, REFUSETERM, QUERYCREDIT, CARDCHECK, INPUTDATE, UPDATEUSERID, UPDATEDATE, 
    INPUTUSERID, INPUTORGID, UPDATEORGID, CHARGETYPE, RELATIVETYPE
    from LOAN_ORG_APPLY_CONSTRAINT
  </select>
</mapper>