<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wu.fund.dao.LoanOrgBankConstraintDao" >
  <resultMap id="BaseResultMap" type="com.wu.fund.entity.LoanOrgBankConstraintEntity" >
    <id column="SERIALNO" property="serialNo" jdbcType="VARCHAR" />
    <result column="RELATIVESERIALNO" property="relativeSerialNo" jdbcType="VARCHAR" />
    <result column="BANKDATATYPE" property="bankDataType" jdbcType="VARCHAR" />
    <result column="PRIORITY" property="priority" jdbcType="VARCHAR" />
    <result column="WEIGHT" property="weight" jdbcType="VARCHAR" />
    <result column="CONTROLTYPE" property="controlType" jdbcType="VARCHAR" />
    <result column="MONTHLIMIT" property="monthLimit" jdbcType="VARCHAR" />
    <result column="PUTOUTMULTIPLE" property="putOutMultiple" jdbcType="VARCHAR" />
    <result column="CHARGETYPE" property="chargeType" jdbcType="VARCHAR" />
    <result column="INPUTDATE" property="inputDate" jdbcType="VARCHAR" />
    <result column="UPDATEUSERID" property="updateUserId" jdbcType="VARCHAR" />
    <result column="UPDATEDATE" property="updateDate" jdbcType="VARCHAR" />
    <result column="INPUTUSERID" property="inputUserId" jdbcType="VARCHAR" />
    <result column="INPUTORGID" property="inputOrgId" jdbcType="VARCHAR" />
    <result column="UPDATEORGID" property="updateOrgId" jdbcType="VARCHAR" />
    <result column="DAYLIMIT" property="dayLimit" jdbcType="VARCHAR" />
    <result column="REPORTTERM" property="reportTerm" jdbcType="VARCHAR" />
    <result column="TEMPSAVEFLAG" property="tempSaveFlag" jdbcType="VARCHAR" />
    <result column="RELATIVETYPE" property="relativeType" jdbcType="VARCHAR" />
    <result column="REMAINMONTHLIMIT" property="remainMonthLimit" jdbcType="VARCHAR" />
    <result column="REMAINDAYLIMIT" property="remainDayLimit" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from LOAN_ORG_BANK_CONSTRAINT
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wu.fund.entity.LoanOrgBankConstraintEntity" >
    insert into LOAN_ORG_BANK_CONSTRAINT (SERIALNO, RELATIVESERIALNO, BANKDATATYPE, 
      PRIORITY, WEIGHT, CONTROLTYPE, 
      MONTHLIMIT, PUTOUTMULTIPLE, CHARGETYPE, 
      INPUTDATE, UPDATEUSERID, UPDATEDATE, 
      INPUTUSERID, INPUTORGID, UPDATEORGID, 
      DAYLIMIT, REPORTTERM, TEMPSAVEFLAG, 
      RELATIVETYPE, REMAINMONTHLIMIT, REMAINDAYLIMIT
      )
    values (#{serialNo,jdbcType=VARCHAR}, #{relativeSerialNo,jdbcType=VARCHAR}, #{bankDataType,jdbcType=VARCHAR},
      #{priority,jdbcType=VARCHAR}, #{weight,jdbcType=VARCHAR}, #{controlType,jdbcType=VARCHAR},
      #{monthLimit,jdbcType=VARCHAR}, #{putOutMultiple,jdbcType=VARCHAR}, #{chargeType,jdbcType=VARCHAR},
      #{inputDate,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR},
      #{inputUserId,jdbcType=VARCHAR}, #{inputOrgId,jdbcType=VARCHAR}, #{updateOrgId,jdbcType=VARCHAR},
      #{dayLimit,jdbcType=VARCHAR}, #{reportTerm,jdbcType=VARCHAR}, #{tempSaveFlag,jdbcType=VARCHAR},
      #{relativeType,jdbcType=VARCHAR}, #{remainMonthLimit,jdbcType=VARCHAR}, #{remainDayLimit,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wu.fund.entity.LoanOrgBankConstraintEntity" >
    update LOAN_ORG_BANK_CONSTRAINT
    set RELATIVESERIALNO = #{relativeSerialNo,jdbcType=VARCHAR},
      BANKDATATYPE = #{bankDataType,jdbcType=VARCHAR},
      PRIORITY = #{priority,jdbcType=VARCHAR},
      WEIGHT = #{weight,jdbcType=VARCHAR},
      CONTROLTYPE = #{controlType,jdbcType=VARCHAR},
      MONTHLIMIT = #{monthLimit,jdbcType=VARCHAR},
      PUTOUTMULTIPLE = #{putOutMultiple,jdbcType=VARCHAR},
      CHARGETYPE = #{chargeType,jdbcType=VARCHAR},
      INPUTDATE = #{inputDate,jdbcType=VARCHAR},
      UPDATEUSERID = #{updateUserId,jdbcType=VARCHAR},
      UPDATEDATE = #{updateDate,jdbcType=VARCHAR},
      INPUTUSERID = #{inputUserId,jdbcType=VARCHAR},
      INPUTORGID = #{inputOrgId,jdbcType=VARCHAR},
      UPDATEORGID = #{updateOrgId,jdbcType=VARCHAR},
      DAYLIMIT = #{dayLimit,jdbcType=VARCHAR},
      REPORTTERM = #{reportTerm,jdbcType=VARCHAR},
      TEMPSAVEFLAG = #{tempSaveFlag,jdbcType=VARCHAR},
      RELATIVETYPE = #{relativeType,jdbcType=VARCHAR},
      REMAINMONTHLIMIT = #{remainMonthLimit,jdbcType=VARCHAR},
      REMAINDAYLIMIT = #{remainDayLimit,jdbcType=VARCHAR}
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select SERIALNO, RELATIVESERIALNO, BANKDATATYPE, PRIORITY, WEIGHT, CONTROLTYPE, MONTHLIMIT, 
    PUTOUTMULTIPLE, CHARGETYPE, INPUTDATE, UPDATEUSERID, UPDATEDATE, INPUTUSERID, INPUTORGID, 
    UPDATEORGID, DAYLIMIT, REPORTTERM, TEMPSAVEFLAG, RELATIVETYPE, REMAINMONTHLIMIT, 
    REMAINDAYLIMIT
    from LOAN_ORG_BANK_CONSTRAINT
    where SERIALNO = #{serialNo,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select SERIALNO, RELATIVESERIALNO, BANKDATATYPE, PRIORITY, WEIGHT, CONTROLTYPE, MONTHLIMIT, 
    PUTOUTMULTIPLE, CHARGETYPE, INPUTDATE, UPDATEUSERID, UPDATEDATE, INPUTUSERID, INPUTORGID, 
    UPDATEORGID, DAYLIMIT, REPORTTERM, TEMPSAVEFLAG, RELATIVETYPE, REMAINMONTHLIMIT, 
    REMAINDAYLIMIT
    from LOAN_ORG_BANK_CONSTRAINT
  </select>
</mapper>